<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"> <!-- ~{nombre del folder/nombre del archivo html} -->

<head layout:fragment="layout/layout :: head">
    <meta charset="ISO-8859-1">
    <!-- <title th:text="${titulo}"></title> -->
    <link rel="stylesheet" th:href="@{/assets/css/misEstilos.css}">
    <link rel="stylesheet" th:href="@{/assets/select/bootstrap-select.min.css}">


</head>
<th:block th:if="${sesion}" layout:fragment="usuario">[[${sesion.nombre}]] [[${sesion.apellido}]]</th:block>
<body>

<div layout:fragment="page-title">
    <h1>Graficos estadisticos de cantidad vendida de boletos</h1>
</div>

<div layout:fragment="page-content">

    <div class="row">
        <div class="col-md-12">
            <div id="columnchart_material"  style="width: 800px; height: 500px;"></div>
        </div>

        <div class="col-md-12">
            <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
        </div>
    </div>


</div>

<!--OTRO SCRIPTS PARA PAGINAS-->
<th:block layout:fragment="page-scripts">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        //Obtengo el componente
        /*
        componenteGraficoBarras=document.getElementById("listaGraficoBarras");
        objeto=componenteGraficoBarras.getAttribute("value");
        console.log(objeto["LIMA"]);

        for(const elemento in objeto)
        {
            console.log(`${elemento}: ${objeto[elemento]}`);
        }
        */

        $.getJSON("/graficoCantidadVendidaBoletos", {
            ajax: 'true'
        }, function (data) {
            console.log(data)
            var formatoGrafico=[]
            var cabeceras= ['Ciudad', 'Cantidad vendida']
            formatoGrafico.push(cabeceras)
            for (const ciudad in data) {
                formatoGrafico.push([ciudad,data[ciudad]])
            }
            console.log(formatoGrafico)

            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable(formatoGrafico);
                var options = {
                    chart: {
                        title: 'Ventas en S/. ',
                        subtitle: 'Por ciudad',
                    }
                };

                var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }

        });


        $.getJSON("/graficoCantidadVendidaBoletos", {
            ajax: 'true'
        }, function (data) {
            console.log(data)
            var formatoGrafico=[]
            var cabeceras= ['Ciudad', 'Cantidad vendida']
            formatoGrafico.push(cabeceras)
            for (const ciudad in data) {
                formatoGrafico.push([ciudad,data[ciudad]])
            }
            console.log(formatoGrafico)

            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable(formatoGrafico);

                var options = {
                    title: 'Ventas en S/. por ciudad',
                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
            }

        });





    </script>


</th:block>
</body>
</html>
